* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

main {
    width: 100%;
    height: 100vh;
}

body {
    background-color: #202020
}


/*  NAV */
.navContainer {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ff8c00;
}

.logo {
    width: 100px;
    border-radius: 50%;
    margin: 5px;
}

.navAnchor {
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    text-transform: uppercase;
}

.ulNavContainer {
    display: flex;
    align-items: center;
}


/* HOME */

.indexMainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.weaponTitle {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4E4E4E;
    border: 1px solid #ff1493;
    margin: 10px 0px;
}

.weaponContainer {
    background: #ffffff33;
    box-shadow: 0 4px 30px #ffff001a;
    border: 1px solid #ffffffde;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.weaponContainer:hover {
    border: 1px solid #bf00ff;
    box-shadow: #ccad7066 0px 0px 8px;
}


.infoWeaponContainer {
    width: 100%;
    margin-left: 15px;
}

.weaponName {
    font: 500 1rem / 2rem Roboto, sans-serif;
    letter-spacing: 0.025rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.priceContainer {
    display: flex;
    align-items: center;
}

.iconPrice {
    height: 12px;
    width: 12px;
}

.textPrice {
    margin-left: 5px;
    line-height: 20px;
    vertical-align: middle;
    color: white;
}


/* STATISTICS */
.statisticsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table.weaponTable {
    border-spacing: 0;
    margin: 2rem;
    text-align: center;
    font: 1rem Roboto, sans-serif;
    border: 2px solid #ff1493;
    box-shadow: #ff1493 0px 0px 8px;
    color: white;
}

table.weaponTable thead {
    color: lightgray;
    text-transform: uppercase;
}

table.weaponTable thead th {
    padding: 1rem;
    border-bottom: #ff1493 1px solid;
}

table.weaponTable td {
    padding: 0.7rem;
}

table.weaponTable tr:hover td{
    border-bottom: #bf00ff 1px solid;
    border-top: #bf00ff 1px solid;
}

ul.listStadistics {
    color: #ff1493;
}


/* FORM */

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#formMainContainer {
    border: solid 2px #ff1493;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    box-shadow: #ff1493 0px 0px 8px;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
}

.underline {
    border-bottom: solid 2px #bf00ff;
    margin: 1em auto;
    width: 80px;
}



input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #650087;
    color: grey;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0rem 0 1.875em 0;
    padding: 1rem 0 0.875em 0;
    width: 100%;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
}

.lastname {
    float: right;
    width: 45%;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

.subject {
    width: 100%;
}

.email {
    width: 100%;
}

.captchaContainer {
    border: solid 2px #650087;
    color: #c5c3c3;
    padding-right: 50%;
    width: 35%;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
}

.btnInvalid{
    background: none;
    border: solid 2px #510969;
    color: #585857;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 0 40%;
}


.btnValid {
    background: none;
    border: solid 2px #bf00ff;
    color: #585857;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 0 40%;
}

.btnValid:hover {
    background: #5b1373;
    color: #b9b3b0;
    box-shadow: #bf00ff 0px 0px 8px;
}

option {
    background-color: #202020;
}


/* VANDAL PAGE */

.weaponMainContainer{
    height: 100%;
}

.topContainer {
    align-items: center;
    height: 50%;
    display:flex;
    justify-content: space-around;
}

.bottomContainer{
    display: flex;
    height: 50%;
    justify-content: space-around;
}

.mainFeatures {
    width: 20%;
    height: 70%;
    border: solid 2px #bc14ff;
    border-radius: 5%;
    color: white;
    box-shadow: #eb14ff 0px 0px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dañoImg{
    height: 50%;
    width: auto; 
}

.videoContainer{
    border: 3px solid #c40b6d;
    box-shadow: #50032c 0px 0px 30px;
    height: 80%;

}

.weaponVideo{
    height: 100%;
}

.fireModeInfo{
    width: 40%;
    height: 70%;
    border: solid 2px #bc14ff;
    box-shadow: #eb14ff 0px 0px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.fireModeInfo span {
    color: lightgrey;
    font-size: 12px;
}

.clickImg{
    height: 5vh;
}
