/* GENERAL */
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

body {
    background-color: #202020;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    width: auto;
}

.underline {
    border-bottom: solid 2px #bf00ff;
    margin: 0.75rem auto;
    width: 80px;
}

/* NAV */

nav.navContainer {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ff8c00;
}

.logo {
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.ulNavContainer {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 75px;
    background-color: #ff8c00;
    float: right;
    text-align: center;
    transition: all .5s;
}

.ulNavContainer li {
    opacity: 0;
    margin: 50px 0;
    transition: all .5s;
}

.ulNavContainer .navAnchor {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.ulNavContainer .navAnchor:hover {
    color: #bf00ff;
    transition: 0.5s;
}

.menuBtn {
    cursor: pointer;
}

#checkbox {
    display: none;
}

#checkbox:checked~.ulNavContainer {
    height: 100vh;
}

#checkbox:checked~.ulNavContainer li {
    opacity: 1;
}


/* HOME */
.indexMainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.weaponTitle {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4E4E4E;
    border: 1px solid #ff1493;
    margin: 10px 0px;
}

.weaponContainer {
    background: #ffffff33;
    box-shadow: 0 4px 30px #ffff001a;
    border: 1px solid #ffffffde;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.weaponContainer:hover {
    border: 1px solid #bf00ff;
    box-shadow: #ccad7066 0px 0px 8px;
}

.infoWeaponContainer {
    width: 100%;
    margin-left: 15px;
}

.weaponName {
    font: 500 1rem / 2rem Roboto, sans-serif;
    letter-spacing: 0.025rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.priceContainer {
    display: flex;
    align-items: center;
}

.iconPrice {
    height: 12px;
    width: 12px;
}

.textPrice {
    margin-left: 5px;
    line-height: 20px;
    vertical-align: middle;
    color: white;
}



/* TABLES */
.statisticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    overflow-x: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table.tables {
    border-spacing: 0;
    margin: 2rem;
    text-align: center;
    font: 1rem Roboto, sans-serif;
    border: 2px solid #ff1493;
    box-shadow: #ff1493 0px 0px 8px;
    color: white;
    width: 100%;
}

table.tables thead {
    color: lightgray;
    text-transform: uppercase;
}

table.tables thead th {
    padding: 0.5rem;
    border-bottom: #ff1493 1px solid;
}

table.tables td {
    padding: 0.3rem;
}

table.tables tr:hover td {
    border-bottom: #bf00ff 1px solid;
    border-top: #bf00ff 1px solid;
}

ul.listStadistics {
    border: 2px solid #ff1493;
    box-shadow: #ff1493 0px 0px 8px;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5rem;
    width: 80%;
}

/* CONTACT FORM */
#formMainContainer {
    border: solid 2px #ff1493;
    margin: 60px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: #ff1493 0px 0px 8px;
}

.hideContactForm {
    display: none;
}

.submittedForm {
    display: none;
    padding: 20px;
    color: lightgrey;
    text-align: center;

    /* border: solid 2px #ff1493;
    
    margin: 60px 40px;
    box-shadow: #ff1493 0px 0px 8px; 
    color: white;
    */
    justify-content: center;
}

.submittedForm p {
    font-size: 23px;
}

.showSubmittedForm {
    display: flex;
    flex-direction: column;

}




form {
    padding: 37.5px;
    margin: 20px 0;
}

input[type='text'],
[type='email'],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #650087;
    color: grey;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0rem 0 1.875em 0;
    padding: 1rem 0 0.875em 0;
    width: 100%;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
}

.captchaContainer {
    border: solid 2px #650087;
    color: #c5c3c3;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
}

.btnInvalid,
.btnValid {
    background: none;
    border: solid 2px #bf00ff;
    color: #585857;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 14px 25px;
    text-transform: uppercase;
    transition: all 0.3s;
    margin: 10px;
    display: block;
}

.btnValid:hover {
    background: #5b1373;
    color: #b9b3b0;
    box-shadow: #bf00ff 0px 0px 8px;
}

.submitBtn {
    display: flex;
    justify-content: center;
}

option {
    background-color: #202020;
}



/* VANDAL PAGE */

.weaponMainContainer {
    width: 100%;
    height: 100%;
}

.topContainer {
    align-items: center;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottomContainer {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.mainFeatures {
    width: 50%;
    height: 70%;
    border: solid 2px #bc14ff;
    border-radius: 5%;
    color: white;
    box-shadow: #eb14ff 0px 0px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainFeatures span,
.fireModeInfo span,
.submittedForm span {
    color: lightgrey;
    font-size: 12px;
}

.dañoImg {
    height: 50%;
    width: fit-content;
}

.videoContainer {
    border: 3px solid #c40b6d;
    box-shadow: #50032c 0px 0px 30px;
    height: auto;
    margin: 2rem 0;
    width: 90%;
}

.videoContainer video {
    height: 100%;
    width: 100%;
}

.fireModeInfo {
    width: 40%;
    height: 70%;
    border: solid 2px #bc14ff;
    box-shadow: #eb14ff 0px 0px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.clickImg {
    height: 5vh;
}



/* DINAMIC TABLE */
.dinamicTableMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dinamicTableFormContainer {
    border: solid 2px #ff1493;
    margin: 2rem;
    box-shadow: #ff1493 0px 0px 8px;
    width: 80%;
    display: flex;
    justify-content: center;

}

.dinamicTableBtn {
    display: flex;
}



/* Media Queries */
/* Tablets */
@media (min-width: 768px) {

    h1 {
        font-size: 32px;
    }

    .logo {
        margin-left: 4rem;
    }

    .navAnchor {
        padding: 5px 10px;
    }

    .menuBtn {
        display: none;
    }

    .ulNavContainer {
        position: relative;
        top: 0;
        float: right;
        text-align: right;
        margin-right: 25px;
    }

    .ulNavContainer li {
        display: inline-block;
        opacity: 1;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .indexMainContainer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0 50px;
    }

    .weaponContainer,
    .weaponTitle {
        width: 80%;
        margin: 20px;
    }

    /* TABLES */
    .tableContainer {
        align-items: center;
    }

    table.tables {
        font-size: 1.2rem;
    }

    table.tables thead th {
        padding: 1rem;
    }

    table.tables td {
        padding: 1rem;
    }

    table.tables {
        width: 60%;
    }

    /* FORM */

    #formMainContainer {
        max-width: 768px;
        margin: 60px 45px;
    }

    .captchaContainer {
        width: 55%;
    }

}

/* Computadoras */
@media (min-width: 1024px) {
    .indexMainContainer {
        padding: 0;
        justify-content: space-around;
    }

    /* TABLES */


    table.tables {
        font-size: 1.4rem;
    }

    /* FORM */
    #formMainContainer {
        max-width: 768px;
        margin: 60px auto;
    }

    .lastname {
        float: right;
        width: 45%;
    }

    .message {
        float: none;
    }

    .name {
        float: left;
        width: 45%;
    }


    /*  PREMIER  */

    .dinamicTableFormContainer {
        width: 60%;
    }

    .weaponMainContainer {
        width: 100%;
        height: 80%;
    }

    /*  VANDAL  */

    .weaponMainContainer {
        width: 100%;
        height: 80%;
    }

    .topContainer {
        height: 50%;
        flex-direction: row;
        justify-content: space-around;
    }


    .mainFeatures {
        width: 90%;
        height: fit-content;
        margin: 0 2rem;
    }

    .videoContainer {
        width: auto;
        height: auto;
        margin: 2rem 0;
    }

    .videoContainer video {
        height: 100%;
        width: 100%;
    }

    .dañoImg {
        height: 20%;
        /* width: fit-content; */
    }

}